<!-- app/views/User Creations/index.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLM Validator - Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M4TLZ8N6CC"></script>
    <script defer data-domain="llmvalidator.com" src="https://plausible.io/js/script.js"></script>

    <style>
      .container{
        padding: 40px 0;
        width: 75%; /* Full width of the column */
      }
      body {
          background-color: #E8E8E8; /* Sets the entire page background to black */
      }
        .image-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust '150px' to change the cell size */
            gap: 10px; /* Spacing between grid items */
        }

        .grid-item {
            /* Styles for each grid item, if needed */
        }

        .submission-image {
            width: 100%; /* Make image fill the cell */
            height: auto;
            display: block; /* Remove inline properties */
        }
        h1 {
          text-align: center;
          margin: 10px;
        }
        .button-container {
            text-align: center; /* Center the buttons */
            margin-bottom: 20px; /* Space between buttons and grid */
        }
        .btn-primary{
          width: 30%; /* Make buttons take full width of the container */
          background-color: #0056b3;
          color: white;
          border-radius: 20px;
          padding: 10px 20px;
          font-size: 18px;
          text-align: center;
          box-shadow: 0 2px 4px rgba(0,0,0,0.1);
          transition: all 0.3s ease;
          border: none;
          margin: 10px; /* Add spacing between buttons */
        }
        .btn-primary:hover {
          background-color: #004080; /* Darker blue on hover */
        }
        .btn-secondary {
            background-color: #E8E8E8;
            color: #0056b3; /* Adjust the color to match your theme */
            border: 2px solid #0056b3; /* Blue border */
            border-radius: 20px;
            padding: 10px 20px;
            font-size: 18px;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            transition: all 0.3s ease;
            margin: 10px
        }

        .btn-secondary:hover {
            background-color: #f0f0f0; /* Light grey for hover effect, adjust as needed */
            color: #003366; /* Darker blue for hover text */
            border-color: #003366; /* Darker blue for hover border */
        }
</style>
<body>
    <div class="container">
        <h1>User Creations</h1>
        <div class="button-container">
            <%= link_to 'Learn About a Building', '#', class: 'btn btn-primary', id: 'analyze-architecture-btn', data: {href: architecture_explorer_new_path} %>
            <%= link_to 'Generate Architecture', '#', class: 'btn btn-secondary', id: 'generate-architecture-btn', data: {href: step1_architecture_designer_index_path} %>
        </div>
        <div class="image-grid">
            <% if @submissions.present? %>
                <% @submissions.each do |submission| %>
                    <% if submission.image_url.present? %>
                        <div class="grid-item">
                            <%= image_tag submission.image_url, alt: "User Creation", class: "submission-image" %>
                        </div>
                    <% else %>
                        <p>No image available</p>
                    <% end %>
                <% end %>
            <% else %>
                <p>No submissions found.</p>
            <% end %>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Event listener for 'Learn About a Building' button
            document.getElementById('analyze-architecture-btn').addEventListener('click', function() {
                window.location.href = this.getAttribute('data-href');
            });

            // Event listener for 'Generate Architecture' button
            document.getElementById('generate-architecture-btn').addEventListener('click', function() {
                window.location.href = this.getAttribute('data-href');
            });
        });
    </script>
</html>