<div class="admin-place-new">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>New Place</h1>
    <%= link_to 'Back to Places', admin_places_path, class: 'btn btn-secondary' %>
  </div>

  <%= render 'form' %>
</div> 