<!-- app/views/architecture_explorer/show.html.erb -->
<style>
    .btn-primary {
        width: 30%;
        background-color: #0056b3;
        color: white;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 18px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        transition: all 0.3s ease;
        border: none;
        margin-bottom: 10px;
    }
    .btn-primary:hover {
        background-color: #004080;
    }
    h1 {
        font-size: 48px;
        color: black;
        margin-bottom: 20px;
    }
    h3 {
        margin: 30px;
    }
</style>

<% if @html_content.present? %>
  <%= raw @html_content %>
<% else %>
  <p>No analysis data available.</p>
<% end %>